section {
    height: 35px;
    background-color: rgba(254, 254, 255, 0.918);
    box-shadow: 0 1px 4px #e7e7e7(134, 31, 31, 0.05);
    border-bottom: 1px solid rgb(181, 189, 223);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: relative;
}

.main-container {
    margin: 6px;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}

.weather-section {
    background-color: rgba(240, 245, 255, 0.918);
    border-bottom: 2px solid rgb(125, 146, 228);
    border-radius: 6px;
    padding: 5px;
    height: 125px;
    align-items: left;
    justify-content: left;
    
}

.weather-section div {
    height:125px;
    margin: 5px;
    padding: 0px;
    font-size: small;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.grid-section {
    height: 450px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(230, 235, 255);
    border-bottom: 3px solid rgb(82, 106, 202);
    padding: 4px;
    border-radius: 8px;
    
}

.task-div {
    height:100%;
    grid-column: 1 / span 1;
    grid-row: 1/ span 1;
    border-bottom: 6px solid rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
    
    
}

.resource-div {
    height:100%;
    grid-column: 1 / span 1;
    grid-row: 2/ span 1;
    margin: 3px;
    border-top: 3px solid rgb(255, 255, 255);
    border-radius: 5px;
}

.news-div {
    height:100%;
    grid-column: 2 / span 1;
    grid-row: 1/ span 2;
    border-left: 6px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

h3 {
    font-weight: bold;
}