<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
    </style>
    
<section class="main-container">
    <section>
        <h3>MetaVerseStudy</h3>
    </section>
    <section class="weather-section">
        <div >Weather div</div>
    </section>
    <section class="grid-section">
        <div class="task-div">
            <input type="text"
            placeholder="Enter new task"
            maxlength="50"/> 
            <button >Add </button>
            <button >Delete </button>
            <input type="text"
            placeholder="find task #"
            maxlength="10"/>
            <button (click)="this.getCategories()">View all </button>
            <div>
            {{this.categoriesObject}}
            </div>
        </div>
    
            {{this.typeObject }}
        <div class="resource-div">
            <input type="text"
            placeholder="Enter new resource"
            maxlength="50"/> 
            <button >Add </button>
            <button >Delete </button>
            <input type="text"
            placeholder="find resource #"
            maxlength="10"/>
            <button (click)="this.getCategories()">View all </button>
            <div>
                {{this.categoriesObject}}
            </div>
        </div>

        <div class="news-div">
            for news
        </div>
    </section>


    
</section>

