<section>
    <p>header-bar works! get category here </p>
    <h3>Welcome !</h3>
    <div>for icon</div>
    <div>
        <input type="text"
        placeholder="Enter a post title"
        maxlength="50"/> <!-- for search bar -->
        <button (click)="this.getCategories()">Search</button>
    </div>
    
    <div class="login-div">
        <button>Login</button>
        <button>Login enter</button>
        <input type="text"
        placeholder="email"
        maxlength="25"/>
        <input type="text"
        placeholder="password"
        maxlength="25"/>
    </div>

    
</section>
<section class="weather-section">
    <div >Weather div</div>
</section>
<app-left-panel>app left panel</app-left-panel>
<app-news-feed-panel>app new feed panel</app-news-feed-panel>
