<style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
    </style>
    
<section class="main-container">
    <section>
        <h1>MetaVerseStudy</h1>
    </section>
    <section class="weather-section">
        <div >{{findWeather(zip)}}
            <h3> Weather in {{weather.name}}:</h3>
        </div>
        <div>
            <p>{{weather.weather[0].description}}y</p>
            <p>High:{{weather.main.temp_max}}'F   Low:{{weather.main.temp_min}}'F.</p>
            <p>Humidity: {{weather.main.humidity}}% </p>
        </div>
    </section>
    <section class="grid-section">
        <div class="task-div">
            <input type="text"
            placeholder="Enter title"
            maxlength="50"
            [(ngModel)]="title"
            />
            <input type="text"
            placeholder="Enter description"
            [(ngModel)]="description"
            /> 
            <input type="text"
            placeholder="Enter progress notes"
            maxlength="50"
            [(ngModel)]="progressNotes"
            />  
            <button (click)="this.saveTask(title,description, progressNotes)">Add Task</button>
            <input type="text"
            placeholder="task #"
            maxlength="10"
            [(ngModel)]="id"

            />
            <button (click)="this.getTask(id)"> Find </button>
            <button >Delete </button>
            <button (click)="this.getTasks()">View all </button>
            <div>
            {{this.categoriesObject}}
            {{this.tasksObject}}
            {{this.taskObject}}
            </div>
        </div>
    
            {{this.typeObject }}
        <div class="resource-div">
            <input type="text"
            placeholder="Enter new resource"
            maxlength="50"/> 
            <button >Add </button>
            <button >Delete </button>
            <input type="text"
            placeholder="find resource #"
            maxlength="10"/>
            <button (click)="this.getTypes()">View all </button>
            <div>
                {{this.typeObject}}
            </div>
        </div>

        <div class="news-div">
            <h3>Current News</h3>
        </div>
    </section>


    
</section>

